.DefaultModal-outter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.DefaultModal-outter .DefaultModal-inner {
  width: 300px;
  height: 200px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.DefaultModal-outter .DefaultModal-inner .close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.DefaultModal-outter .DefaultModal-inner .children{
  width: 100%;
  height: calc(80% - 30px);
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 21px;
  font-weight: bold;
  overflow-y: auto;
}
.DefaultModal-outter .DefaultModal-inner .children table {

  font-size: 14px;
  text-align: center;
}
.DefaultModal-outter .DefaultModal-inner .children table th {
  background-color: #fbfbfb;
  border-right: 1px solid #d8d8d8;
}
.DefaultModal-outter .DefaultModal-inner .children table thead {
  border-bottom : 1px solid #d8d8d8;
}

.DefaultModal-outter .DefaultModal-inner .btn-wrap {
  height: 20%;
  max-height: 40px;
  display: flex;
  justify-content: center;
}
.DefaultModal-outter .DefaultModal-inner .btn-wrap .btn {
  position: relative;
  width: 80px;
  border-radius: 10px;
}
.DefaultModal-outter .DefaultModal-inner .btn-wrap .success {
  margin-right: 20px;
}

.DefaultModal-outter .DefaultModal-inner .btn-wrap .cancle {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
