.category-list {
  position: relative;
}
.category-list .text-center {
  text-align: center;
}
.category-list .title {
  font-size: 16px;
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--bs-admin-border-color);
}
.category-list .add-btn {
  margin-bottom: 16px;
  font-size: 14px;
}
.category-list .mainCategory-menu {
  width: 70%;
  border: 1px solid var(--bs-admin-border-color);
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.category-list .mainCategory-menu > li  {

  border-bottom: 1px solid var(--bs-admin-border-color);
  display: flex;
  align-items: center;
}
.category-list .mainCategory-menu > li:last-child {
  border: none;
}
.category-list .mainCategory-menu > li span {
  padding: 5px 10px;
  border-right: 1px solid var(--bs-admin-border-color);
}
.category-list .mainCategory-menu > li.maincategory-head {
  text-align: center;
  background-color: var(--bs-admin-bg-color);
}
.category-list .mainCategory-menu > li span:first-child {
  width: 5%;
  text-align: center;
  background-color: var(--bs-admin-bg-color);
}
.category-list .mainCategory-menu > li span:nth-child(2) {
  width: 5%;
  display: flex;
  justify-content: center;
}

.category-list .mainCategory-menu > li span:nth-child(3) {
  width: 75%;
}
.category-list .mainCategory-menu > li span:last-child {
  width: 15%;
  border: none;
}
.category-list .mainCategory-menu .icon-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.category-list .mainCategory-menu .edit-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 21px;
  text-align: center;
  border-bottom: 1px solid var(--bs-admin-border-color);
}
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  border: 1px solid var(--bs-admin-border-color);
}
.modal-form label {
  width: 100%;

  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bs-admin-border-color);
}
.modal-form label:last-child {
  border : none;
}
.modal-form label .label-name {
  width: 120px;
  padding: 10px 5px;
  margin-right: 10px;
  border-right: 1px solid var(--bs-admin-border-color);
  background-color: var(--bs-admin-bg-color);
  height: 100%;
}
.modal-form label .modal-img {
  display: flex;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media screen and (max-width: 1400px) {
  .category-list .mainCategory-menu {
    width: 100%;
  }
}
