.prudct-item-contianer {
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  font-size: 13.5px;
}
.prudct-item-contianer .product-item-list-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.prudct-item-contianer .prduct-item-new-button {
  color: white;
  background-color: #6978ff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.prudct-item-contianer .product-item-list-wrap {
  width: 100%;
  height: 100%;
}

.prudct-item-contianer .product-item-list-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
.prudct-item-contianer .product-item-head {
  text-align: center;
  background-color: #fafafa;
  border-right: 1px solid #d8d8d8;
  padding: 5px;
}
.prudct-item-contianer .label {
  padding: 2px 8px;
  border-radius: 4px;
}
.prudct-item-contianer .label.label-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.prudct-item-contianer .label.label-false {
  color: #4d4d4d;
  background-color: #e7e7e7;
  border-color: #8b8b8b;
}

.prudct-item-contianer .label.label-temporary {
  color: #0a4a6e;
  background-color: #c9e4fd;
  border-color: #8b8b8b;
}

.prudct-item-contianer .w5 {
  width: 5%;
}
.prudct-item-contianer .w7 {
  width: 7%;
}
.prudct-item-contianer .w8 {
  width: 8%;
}
.prudct-item-contianer .w10 {
  width: 10%;
}
.prudct-item-contianer .w25 {
  width: 25%;
}
.prudct-item-contianer .center {
  text-align: center;
}
.prudct-item-contianer .right {
  text-align: right;
}
.prudct-item-contianer .product-item-list {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.prudct-item-contianer .product-item {
  height: 100%;
  padding: 10px 10px;
  background-color: white;
  border-right: 1px solid #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prudct-item-contianer .product-item .img-wrap {
  width: 100%;
}
.prudct-item-contianer .product-item .img-wrap > img {
  width: 100%;
  object-fit: contain;
}

.prudct-item-contianer .product-item-setting-btn-wrap {
  display: flex;
  justify-content: space-around;
}

.prudct-item-contianer .product-item-setting-btn {
  background-color: white;
  padding: 3px 8px;
  margin-right: 10px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  cursor: pointer;
}
.prudct-item-contianer .product-item-setting-btn:hover {
  background-color: #99a3fd;
  color: white;
}
